<div class="text-center">
    <h1 class="m-5 text-center">Modificar producto</h1>
    <div class="m-auto" style="width: 28rem;" id="container">
        <div class="card m-1">
            <img src="{{payload.image}}" class="card-img-top text-center" alt="Imagen del producto">
            <div class="card-body">
                <div class="row mb-1 text-start">
                    <label for="id" class="col-sm-4 col-form-label">Id:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="id" value="{{payload._id}}" disabled/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="title" class="col-sm-4 col-form-label">Titulo:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="title" value="{{payload.title}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="price" class="col-sm-4 col-form-label">Precio:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="number" id="price" value="{{payload.price}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="category" class="col-sm-4 col-form-label">Categoría:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="category" value="{{payload.category}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="code" class="col-sm-4 col-form-label">Código:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="code" value="{{payload.code}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="thumbnail" class="col-sm-4 col-form-label">Imagen:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="thumbnail" value="{{payload.thumbnail}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="description" class="col-sm-4 col-form-label">Descripción:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="text" id="description" value="{{payload.description}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="stock" class="col-sm-4 col-form-label">Stock:</label>
                    <div class="col-sm-8">
                        <input class="form-control card-text" type="number" id="stock" value="{{payload.stock}}" required/>
                    </div>
                </div>
                <div class="row mb-1 text-start">
                    <label for="status" class="col-sm-4 col-form-label">Estado:</label>
                    <div class="col-sm-8">
                        <input class="form-check-input card-text m-1" type="checkbox" id="status" value="{{payload.status}}" checked/>
                    </div>
                </div>
                <button class="btn btn-primary" onClick="history.go(-1)">Volver</button>
                <button class="btn btn-primary" onClick="updateProduct()">Guardar cambios</button>
                <button class="btn btn-primary" onClick="deleteProduct()">Eliminar producto</button>

            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/update.js"></script>
